*{
    padding: 0;
    margin: 0;
}
.Navbar-container{
    background-image: url("https://t4.ftcdn.net/jpg/05/00/76/75/360_F_500767502_AdezwSUsyb04l79RpV6zubKulRnIHpd0.jpg");
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.Nav-heading{
    font-size: 30px;
    padding-top: 10px;
    color: white;
    padding-left: 20px;

}
.nav-contents{
    text-align: center;
    font-size: 23px;
    padding: 20px;
}
.Nav-menu-list{
    padding-right: 25px;
}
.bg-image{
    width: 100%;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.complaint-container {
    background-color:blanchedalmond;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.complaint-heading {
    text-align: center;
    color: #1a1111;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a085;
    
}


*{
    margin: 0;
}
.footer-container{
    background-image: url("https://t4.ftcdn.net/jpg/05/00/76/75/360_F_500767502_AdezwSUsyb04l79RpV6zubKulRnIHpd0.jpg");
    width: 100%;
    height: 260px;
    padding-top: 20px;
    flex-wrap: wrap;
    color: white;
}
.footer-box{
    display: flex;
    justify-content: space-around;
}
.footer-des{
    font-size: 16px;
    margin: top 0;
    padding:5px;
}
.footer-heading{ 
    color: white;
    font-size: 20px;

}
.footer-Description li{
    text-decoration: none;
}

.footer-social{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.social-icons{
    margin:5px 13px;
}
